<footer class="footer">
  
  
  <div class="footer-content">
    <div class="container">
      <div class="row gy-4">
        
        
        <div class="col-lg-3 col-md-6">
          <h5 class="footer-title">Acerca de Ingeniera Global</h5>
          <ul class="list-unstyled">
            <li><a [routerLink]="'/consultas'" class="footer-link">Quienes somos </a></li>
            <li><a [routerLink]="''" class="footer-link"> Webinars <i class="fw-bold">proximamente</i></a></li>
            <li><a [routerLink]="'/auth/login'" class="footer-link">Login</a></li>
          </ul>
        </div>

        
        <div class="col-lg-3 col-md-6">
          <div>
            <h5 >Compra con confianza</h5>
            <ul class="list-unstyled">
              <li><a [routerLink]="'/consultas'" class="footer-link">¿Cómo comprar en Ingeniera Global?</a></li>
            </ul>
          </div>
          
          <div class="mt-4">
            <h5 class="footer-title">Servicio al Cliente</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="footer-link">Preguntas Frecuentes</a></li>
            </ul>
          </div>
        </div>

        
        <div class="col-lg-3 col-md-6">
          <h5 class="footer-title">Podemos ayudarte</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">Tu cuenta</a></li>
          </ul>
        </div>

        
        <div class="col-lg-3 col-md-6 ">
          <h5 class="footer-title">Medios de pago</h5>
          <div class="payment-methods justify-content-center">
            @for (metodo of metodosPago; track metodo.name) {
              <img 
                [src]="metodo.icon" 
                [alt]="metodo.name"
                class="payment-icon"
                [title]="metodo.name"
              >
            }
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-social-section">
    <div class="container">
      <div class="social-container">
        @for (red of redesSociales; track red.name) {
          <a 
            [href]="red.href" 
            class="social-link"
            [title]="red.name"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i [class]="red.icon"></i>
          </a>
        }
      </div>
    </div>
  </div>



  <div class="footer-bottom">
    <div class="container">
      <p class="copyright-text m-0">&copy; {{ currentYear }} D&S Ingenieria Global. Todos los derechos reservados.</p>
    </div>
  </div>

</footer>