.custom-input {
  border-color: #ddd;
}

.custom-input:focus {
  border-color: var(--color-primary);
  /* Asegúrate de cambiar el rgba si tu color primario no es rojo */
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.1); 
}

.custom-radio {
  border-color: #ddd;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
}

.custom-radio:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.custom-label {
  color: var(--color-text-primary);
  font-size: 0.9rem;
  cursor: pointer;
  transition: color var(--transition-base, 0.3s ease);
}

.custom-label:hover {
  color: var(--color-primary);
}